* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fbfaf2;
}

.navbar {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.nav-menu {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.footer {
    width: 90%;
    height: auto;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.footer-content {
    width: 90%;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    height: auto;
    padding: 10px;
}


.layout-container {
    /* High z-index to ensure layout does not block interaction with the modal */
    z-index: 1000;
    /* Other styles as needed */
  }

  .logout-btn {
    width: auto;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
  }

  .logout-btn:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
  }
  